{% extends "home-base.html"%}
{% block title %}Delete Teacher{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-book" aria-hidden="true"></i> Delete Teacher:</h1>
    <form action="/teacher/delete/{{teacher.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{teacher.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Department</label>
        <textarea class="form-control" name="department" required="true" readonly="true">{{teacher.department}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('All related songs will be deleted too!! Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock %}
